<%- include('../partials/header', { title: "Profile" }) %>
<div class="col-12 col-md-11 col-lg-9 col-xl-7">
    <h2 class="fw-bold mb-5 text-uppercase">
        <%= (userProfileInfo.userid === user.userid ? "MY " : "") %>Profile
    </h2>

    <div class="card card-body mb-4 border-success ms-3">
        <div class="row">
            <div class="col-sm-3">
                <p class="text-muted mb-0"><strong>Username</strong></p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">
                    <strong><%= userProfileInfo.username %></strong>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <p class="text-muted mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">
                    <%= userProfileInfo.firstname + " " +
                    userProfileInfo.lastname %>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <p class="text-muted mb-0">Email</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0"><%= userProfileInfo.email %></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <p class="text-muted mb-0">Joined on</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">
                    <%= userProfileInfo.joinedon.toDateString() %>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <p class="text-muted mb-0">Status</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0"><%= userProfileInfo.status %></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <p class="text-muted mb-0">Posts</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0"><%= userProfileInfo.postscount %></p>
            </div>
        </div>
    </div>
</div>
